<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tracker</title>
</head>
<body>
    <a th:href="@{/home}">Все проекты</a>
    <div>
        <form th:action="@{/workspace}" th:method="post">
            <button>Вернуться на проект</button>
            <input th:hidden="projectid" th:value="${project.id}" name="projectId">
        </form>
    </div>
    <div>
        <form th:action="@{/logout}" th:method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <h2>Редактирование задачи</h2>
    <form th:action="@{/editissue}" method="post">
        <input type="text" name="issueName" th:value="${issue.name}">
        <!--<td th:text="${issue.id}"></td>
        <td th:text="${issue.name}"></td>
        <td th:text="${issue.description}"></td>
        <td th:text="${issue.creator.getUsername()}"></td>
        <td th:text="${issue.issuePriority}"></td>
        <td th:text="${issue.issueStatus}"></td>
        <td th:text="${issue.date}"></td>-->
        <input th:hidden="issueId" th:value="${issue.id}" name="issueId">
        <td><button>Сохранить</button></td>
    </form>

</body>
</html>