<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tracker</title>
</head>
<body>
<a th:href="@{/home}">Все проекты</a>
<a th:if="${isEditor}" href="pagenewuserproject.html" th:href="@{/pagenewuserproject(projectid=${project.id})}">Участники проекта</a>
<h1 th:text="${project.projectName}"></h1>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <h3>Добавление задачи</h3>
    <form th:action="@{/addissue}" method="post">
        <p>Название задачи:</p>
        <input type="text" name="issueName" placeholder="Добавьте задачу">
        <p>Описание задачи:</p>
        <textarea name="issueDescription" placeholder="Добавьте описание"></textarea>
        <p>Выберите исполнителя:</p>
        <select name="executorId" size="1">
            <option th:each="executor : ${executors}" th:utext="${executor.username}" th:value="${executor.id}" th:selected="${executor==user}"></option>
        </select>
        <p>Укажите тип задачи:</p>
        <select name="issuetype" size="1">
            <option th:each="issuetype : ${issueType}" th:utext="${issuetype}" th:value="${issuetype}"></option>
        </select>
        <p>Установите приоритет:</p>
        <select name="issuePriority" size="1">
            <option th:each="priority : ${issuePriorities}" th:utext="${priority}" th:value="${priority}"></option>
        </select>
        <p>Установите статус:</p>
        <select name="issueStatus" size="1">
            <option th:each="issueStatus : ${issueStatuses}" th:utext="${issueStatus}" th:value="${issueStatus}"></option>
        </select><br><br>
        <input th:hidden="projectid" th:value="${project.id}" name="projectId">
        <button type="submit">Добавить задачу</button>
    </form>
</div>
<br>
<div>
    <table>
        <caption>BackLog</caption>
        <tr>
            <td></td>
            <td>Название</td>
            <td>Описание</td>
            <td>Автор</td>
            <td>Исполнитель</td>
            <td>Тип</td>
            <td>Приоритет</td>
            <td>Статус</td>
            <td>Дата создания</td>
            <td></td>
        </tr>
        <tr th:each="issue : ${issuesbacklog}">
            <td></td>
            <td th:text="${issue.name}"></td>
            <td th:text="${issue.description}"></td>
            <td th:text="${issue.creator.getUsername()}"></td>
            <td th:text="${issue.executor.getUsername()}"></td>
            <td th:text="${issue.issueType}"></td>
            <td th:text="${issue.issuePriority}"></td>
            <td th:text="${issue.issueStatus}"></td>
            <td th:text="${issue.date}"></td>
            <td>
                <form th:action="@{/issue}" method="get">
                    <button>Редактировать</button>
                    <input th:hidden="issueId" th:value="${issue.id}" name="issueId">
                </form>
            </td>
            <td>
                <form th:action="@{/frombacklogtosprint}" method="get">
                    <button>Переместить в Sprint</button>
                    <input th:hidden="issueId" th:value="${issue.id}" name="issueid">
                </form>
            </td>
        </tr>
    </table>
</div>
<br>
<div>
    <table>
        <caption>Sprint</caption>
        <tr>
            <td></td>
            <td>Название</td>
            <td>Описание</td>
            <td>Автор</td>
            <td>Исполнитель</td>
            <td>Приоритет</td>
            <td>Статус</td>
            <td>Дата создания</td>
            <td></td>
        </tr>
        <tr th:each="issue : ${issuessprint}">
            <td></td>
            <td th:text="${issue.name}"></td>
            <td th:text="${issue.description}"></td>
            <td th:text="${issue.creator.getUsername()}"></td>
            <td th:text="${issue.executor.getUsername()}"></td>
            <td th:text="${issue.issuePriority}"></td>
            <td th:text="${issue.issueStatus}"></td>
            <td th:text="${issue.date}"></td>
            <td>
                <form th:action="@{/issue}" method="get">
                    <button>Редактировать</button>
                    <input th:hidden="issueId" th:value="${issue.id}" name="issueId">
                </form>
            </td>
            <td>
                <form th:action="@{/fromsprinttobacklog}" method="get">
                    <button>Переместить в BackLog</button>
                    <input th:hidden="issueId" th:value="${issue.id}" name="issueid">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>